Thank you so much for applying to the Writing a Song that Matters Retreat! <br/>
We will be getting in touch with you shortly! <br/>

If you have any questions please feel free to <a href="http://darwilliamsretreat.com/contact">Contact Us</a>. <br/>

Thanks! <br/>
Dar's Retreat Team