@import "../bower_components/bootstrap/less/bootstrap.less";
@import 'variables.less';




	.home {
	background: url('../images/background.jpg') no-repeat 50% 50% fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	 
  .intro {
  	color:white;
  	margin-top: 200px;
  	 opacity: 1;
  	h1 {
  		font-size: 60px;
  		text-transform: uppercase;
  	}

  	h2 {
  		font-size: 50px;
  	}
  	
  }
	}
	
body{

  

  .header {
  	border-top:17px solid @brand-warning;
  }

  .navbar {
  	margin-top: 100px;
  	a {
  		color: @brand-warning;
  		font-size: 20px;
  		font-weight: 300;
  	}
  }
}



footer {
	/*border-top:17px solid @brand-warning;*/
}