@import "../bower_components/bootstrap/less/bootstrap.less";
@import 'variables.less';




	.home {
	
   background: url('../images/home-bkg.png') no-repeat 50% 50% fixed;
     -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      min-height: 680px;

    	border-bottom: 10px solid white;
     width:100%;
      overflow: hidden;  
      /*margin-top: -100px;*/
  
  

	} 




    
   .final-details {
  
   background: url('../images/final-details.png') no-repeat 50% 50% fixed;
     -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
     min-height: 544px;
      border-bottom: 10px solid white;
      overflow: hidden;  
      /*margin-top: -100px;*/

  } 
    .about {
  
   background: url('../images/about-large.png') no-repeat 50% 50% fixed;
     -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 500px;
      border-bottom: 10px solid white;
      overflow: hidden;  
      /*margin-top: -100px;*/

  } 

  .thanks {
  
   background-color: #f3f0e7;
      min-height: 730px;
      border-bottom: 10px solid white;
      overflow: hidden;  
      /*margin-top: -100px;*/

  } 
  .thankyou {
  
   background-color: #f3f0e7;
      min-height: 730px;
      border-bottom: 10px solid white;
      overflow: hidden;  
      /*margin-top: -100px;*/

  } 

    .register {
  
   background: url('../images/trees.jpg') no-repeat 50% 50% fixed;
     -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 500px;
      border-bottom: 10px solid white;
      overflow: hidden;  
      /*margin-top: -100px;*/

  } 

    .contact {
  
   background: url('../images/conact-large.png') no-repeat fixed;
     -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 500px;
      border-bottom: 10px solid white;
      overflow: hidden;  
      /*margin-top: -100px;*/

  } 

  

footer {
  /*border-bottom:17px solid @brand-warning;*/
  width:100%;
  height:80px;
  position:absolute;
  bottom:0; 
  left:0;
}  
	



.navbar {
  border:0px;
  margin-bottom: 0px !important;
  margin-top: 40px;
}

.navbar.small{
  background-color: transparent;
}

@media (min-width: @screen-md-min) {
  .navbar {
    border:0px;
    margin-bottom: 0px !important;
    margin-top: 40px;
  }
  #nav-collapse {
    display:none !important;
  }
}

/***** Sticky header ****/
@header-height: 100px;

#header {
  /*border-top:2px solid @brand-success;*/
    border-top:17px solid @brand-info-light;

  position:fixed;
  top:0px;
  width:100%;

  #logo{
    height: 53px;
    width: 347px;
    margin-top: 31px;
    margin-left: -50px;
  }
  height:@header-height;
  z-index:999;

  .transition-transform(200ms linear);
  .translate(0,0%);
}

#header.docked {
.translate(0,-115%);
}

#header.mini {
  .translate(0,-45%);
}

.navbar-right {
  margin-right:2px;
}

#header.mini, #header.docked{
  #logo{
    height: 40px;
    width: 262px;
    margin-left: -39px;
    margin-top: 44px;
  }

  .box-shadow(0px 16px 2px 0px rgba(0,0,0,.3));
}


.nav-pills {
  li {
    a{
    font-size: 16px;
    color: white;
    font-family: @font-family-serif;
    font-weight: 100;
    letter-spacing: 3px;
    padding:0px;
    /*border-radius: 0px;*/
    text-shadow: 1px 1px @gray;

  }
  a:hover {
    color:#547091;

  }
}
}
.nav > li > a {
  border-radius: 0px;
}


.navbar-brand:hover {
  #logo{
    opacity: .9;
  }
}

.navbar-main {
  margin-bottom: 14px;

  li > a {
    text-transform:uppercase;
    font-size:32px;
    /*font-family:@font-family-sans-serif-cond;*/
    font-family: @font-family-serif !important;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 7px 10px;
    margin: 0 4px;
    font-weight: 300;
    letter-spacing: 1px;
  
    &:hover{
      border-color: @brand-primary-light;
    }
  }

  .caret{
    opacity: .5;
  }

  li.dropdown.open > a.dropdown-toggle{
    color: @brand-primary;
    border-bottom: 1px solid @gray;
    border-color: @brand-info;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    z-index: 1001;
    padding-bottom: 9px;
    font-family: @font-family-serif;
  }

  li.dropdown.active > a.dropdown-toggle{
    color: @brand-success;
  }

}
.navbar-default .navbar-toggle {
  border-color: @brand-primary;
  background-color: @brand-primary;
  .icon-bar{
    background-color: #e9eae5 ;
  }
}
.navbar-sub {
  // min-height:30px;
  li > a {
    font-size:18px;
    line-height: 1;
    margin: 8px 0;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 6px 13px;
    &:hover{
      border-color: @brand-primary-light;
    }
  }

  li.active{
    font-weight: bold;
    /*font-family: @font-family-sans-serif-bold;*/
  }
}

.navbar-nav > li > .dropdown-menu {
  background-color: white;
  .box-shadow(none);
  width: 228px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border: 2px solid @brand-primary-light;
  margin-top:-2px;

  right: 50%;
  margin-right: 4px;
  left: auto;

  .text-center();
  /*** MAIN NAV DROPDOWNS ***/
  li > a {
    font-size:22px;
    font-weight:normal;
    /*font-family: @font-family-sans-serif;*/
    color: @gray-darker;
    text-decoration:none;
    line-height: 1.1;
    word-wrap:normal;
    white-space:normal;
    border:none;
    margin: -1px 8px 0;
    padding: 14px 10px 0;

    &:hover{
      background-color: @brand-primary-lighter;
      color: @brand-primary;
    }

    &:after{
      content:'';
      border-bottom:1px solid @brand-primary-lighter;
      width: 16px;
      height:1px;
      display: block;
      margin: 14px auto 0;
    }

  }

  .arrow, .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}

.navbar-nav > li > .dropdown-menu.pull-right {
  right: 0 !important;
  left: auto !important;
}

#searchControls{
  position: absolute;
  top: 7px;
  right: 0px;

  form {

    border:2px solid @brand-primary-light;
    border-radius:5px;

    .input-group-addon {
      background-color:white;
      color: @brand-primary;

    }

    * {

    border-width:0px;
    }
  }
  input{
    width: 400px;
    font-weight:bold;
    /*font-family:@font-family-sans-serif-bold;*/
    //font-size:20px;
    color:@brand-primary;
    -webkit-font-smoothing:antialiased;
    // letter-spacing:1px;
    .box-shadow(none);
  }

  #searchClose {

    position:absolute;
    right:10px;
    top:0px;
    z-index:999;
    font-size:36px;
    line-height:36px;
    font-weight:bold;

    &:hover {
      text-decoration:none;
    }
  }
}

#searchToggle {

  // position:relative;
  // z-index:9999;
}

#mobileSearchControls{
  margin: 8px 15px;
  ::-webkit-input-placeholder {
    color: @brand-primary;
  }

  .input-group-addon{
    color: @brand-primary;
    background-color: #fff;
  }
}

/*** HEADER BREAKPOINTS ***/

@media (max-width: @screen-md-max){
 

   .navbar-default.small {
      background-color: transparent !important;
     }
  header {

    #logo{
      height: 40px;
      width: 262px;
      margin-left: -39px;
      margin-top: 42px;
    }
    .navbar-main li > a{
      font-size:28px;
    }
  }
}

.nav > li > a {
  padding: 0px;
}
@media (max-width: @screen-sm-max) {
  .navbar{
      margin-top: 0px;
  }
   .navbar-default.small {
      background-color: @brand-info-light !important;

     }
  header, header.mini, header.docked {
    position:fixed !important;
    height:auto;
    

    #logo{
      margin-left: -27px;
      margin-top: 3px;
      height: 30px;
      width: 196px;
    }
    .box-shadow(0px 1px 2px 0px rgba(0,0,0,.3));



    .navbar-default .navbar-nav > li > a{
      color: white;
      border: 0;
      border-radius: 0;
      margin: 0;
      padding: 8px 0;

    }

    .navbar-main {
      margin: 0;
      li > a{
        border-radius: 0;
        font-size:32px;
        padding: 10px;
      }

      li.dropdown.open > a.dropdown-toggle{
      }
    }

  }
  header.docked, header.mini {
    .translate(0, 0);
  }


  body {
    margin-top:0px;
  }

  .navbar-toggle:hover{
    .icon-bar{
      background-color: @brand-success;
    }
  }

  .mobile-open{
    nav.navbar{
      background-color: @brand-primary;
    }

    .navbar-header{
      background-color: @brand-primary;
      #logo{
        #word{
          fill: #fff;
        }
      }
      .navbar-toggle{
        color: #fff;
        &:after{
          content: '\00d7';
          font-size: 42px;
          position: absolute;
          top: -16px;
          right: 10px;

        }
        .icon-bar{
          display: none;
        }
      }
    }


  }
  #nav-collapse{
    .text-center();
    border-top: 0;



    .navbar-nav > li > .dropdown-menu.pull-right{
      background-color: #fff;
      width: 100%;
      border-radius: 0;
      border-bottom: 1px solid @brand-primary;
      position: inherit;
      margin: 0;

      li > a{
        margin: 0;
        font-size: 20px;
        &:after{
          margin: 0;
          border: 0;
        }
      } 
    }

    .navbar-nav > li.open > .dropdown-menu.pull-right{
      margin-bottom: 10px;
    } 

    .navbar-sub{
      margin: 0;
      border-top: 1px solid @brand-primary-light;
      padding-top: 7px;
      padding-bottom: 7px;


      li > a{
        font-size: 16px;
        padding: 8px 13px;
      }
    }
  }

}

@media (max-width: @screen-xs-max){
  header, header.mini, header.docked {
/*background-color: red;*/
    #logo{
      margin-left: 0;
    }
  }

  .navbar-collapse{
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    /*height: 89vh;*/
    padding: 0;
  }
}

/*feather*/

.feather { 
  margin-top: 60px;
}

/*index blocks*/

.home-first-block {
  margin: 0px 10px 10px 0px;
  background-color: @brand-success;
  min-height: 509px;
  font-family: @font-family-serif;
  
  font-weight: 900;
  /*margin-right: 10px;*/
  /*margin-top: 6px;*/
  padding: 20px;

  .home-gutter{
    margin-left: 30px;
    margin-right:30px;
  }
  h2{  
    color: @brand-info;
    letter-spacing: 2px;
    text-transform: uppercase;

  }
  h3{
    color: @brand-success-dark;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  h4 {
    color: @brand-success-dark;
    margin-left: 30px;
    font-weight: 400;
    font-size: 23px;
      text-transform: uppercase;
      letter-spacing: 2px;
  }
  h5 {
    margin-top: 40px;
    font-size: 18px;
    a{
      color: @gray;
    }
   
     }
  li {
    font-family: @font-family-sans-serif;
    font-size: 16px;
    letter-spacing: 1px;

  }

  p{
    font-family: @font-family-sans-serif;
    padding-right: 65px;
    font-weight: 300;
  }

  .blue-bullets {
  color: @brand-info;
  font-size: 19px;
  li  {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  span{
    color: @gray;
    font-size: 16px;
    font-weight: 300;
  }
}
}


/*.image-row {
  margin-top: 6px;
}*/
/*.image-1 {
  margin: 10px;
}*/

/*.images {
  min-height: 200px;
  max-height: 200px;
  
}*/

.gutter {
  
}

.note-block{
  background-color: #f3f0e7;
  padding: 40px;
  margin-top: 6px;
  margin-right: 10px;


  h4 {
    color: @brand-success-dark;
    font-family: @font-family-serif;
    letter-spacing: 1px;
  }
  h5{
    font-family: @font-family-serif;
    font-size: 20px;
  }
  p{
    margin-top: -6px;
    font-family: @font-family-sans-serif;
  }
  .sessions {
    margin-top: 30px;
  }
}

.quote-block-blue {
  margin-top:6px;
  /*background-color: @brand-info;*/
  color: white;


  

}

.pattern {
  /*height: 400px;*/
  margin-bottom: 6px;
    
}

.blue-nav{
    li {
      a {
      color: #5ca7b4;

    }
  }
  }

.small-nav-blue  li {
      a {
      color: #5ca7b4 !important;
      border-bottom: 1px solid white;
      padding: 10px;
    }
  }
  
.green {
  color: @brand-success-dark;
  font-size:23px;
  font-weight: 300;
}

 .register-splash {
 background-color:  #e9eae6;
 min-height: 540px;
 padding: 40px;
  h4 {
    color: @brand-primary;
    a{
      color: white;
    }
    a:hover, a.active{
      text-decoration: none !important;
    }
  }
  .statement{
    color: #648440;
    font-weight: 100;
  }
 } 

 .faq-block {
  background-color:  #e9eae6;
  padding: 2px 40px 40px 40px;
  margin-top: 6px;
 min-height: 914px;
  h3 {
     color: @brand-primary;
    font-family: @font-family-serif;
  }
   h4 {
    color: @brand-primary;
    font-family: @font-family-serif;
    a{
      color: white;
    }
    a:hover, a.active{
      text-decoration: none !important;
    }
  }

 }

 .login-time {
  background-color:  #e9eae6;
  padding: 25px 40px 292px 121px;

  h3 {
     color: @brand-primary;
    font-family: @font-family-serif;
    margin-bottom: 30x !important;
  }
  .submit{
    margin-left: 125px;

  }
 }

 .about-sub-block {
  margin: 0px 10px 10px 0px;
  background-color: @brand-success;
  min-height: 290px;
  /*margin-right: 10px;*/
  padding: 20px;
  h2{  
    color: @brand-info;
  }
  h3{
    color: @brand-success-dark;
  }
  a{
    font-family: @font-family-serif;
  }
}

 .about-content {
  h3 {
    color: @brand-primary;
    font-family: @font-family-serif;
    font-size: 30px;

      /*margin-left: 30px;*/
  }
  p {
    /*margin-left: 30px; */
    color: @gray;
  }
     
  
 }

.about-first-block {
  margin: 0px 10px 10px 0px;
  background-color: @brand-success;
  /*min-height: 326px;*/
  /*margin-right: 10px;*/
  padding: 20px;
  
}

.contact-content {
  h3{
    color: @brand-primary;
    font-family: @font-family-serif;
  }

  h4 {
    color: @brand-primary;
    font-family: @font-family-serif;
  }
}


.blue-header {
  color: @brand-primary;
    font-family: @font-family-serif;
}

.final-details-content {
  min-height: 1441px;
   h4 {
    color: @brand-primary;
    font-family: @font-family-serif;
    font-size: 30px;

      /*margin-left: 30px;*/
  }
    legend {
      background-color: @brand-primary;
      color: white;
    }
}



 .btn-outline {
  background-color: transparent;
  border: 2px solid white;
  color: @brand-primary;
}

.btn-outline:hover {
  color: white;
}











