<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>
    
<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- facebook meta -->

    <meta property="og:title" content="Dar Williams / Writing a Song That Matters"/>
<meta property="og:image" content="http://darwilliamsretreat.com/images/home-bkg.png"/>
<meta property="og:site_name" content="Dar Williams Retreat"/>
<meta property="og:description" content="Join Dar Williams for a songwriting retreat in the Hudson River Valley, at the Garrison Institute, Writing A Song That Matters. "/>

  <meta property="og:type" content="website"/>



  
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Kreon' rel='stylesheet' type='text/css'>



    <link rel="icon" href="../images/thankyouFeather@2x.png">

    <title>Dar Williams Retreat | Writing a Song that Matters</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="styles/animate.css">
    <link href="/styles/styles.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>

  <body >

  
{% if '.dev' in craft.request.url %}

<script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    {% else %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

{% endif %}

{% set heroImages = craft.entries.section('heroImages') %}
    
{% cache %}       
<div 
{% if craft.request.lastSegment == '' %} style="background-image: url('{{ heroImages[0].images3[0].url }}' ); background-size: cover;" class=" img-responsive home home-small" {% endif %}
{% if craft.request.lastSegment == 'about' %} class=" img-responsive about" {% endif %}
{% if craft.request.lastSegment == 'application' %} class=" img-responsive register" style="background-image: url('{{ heroImages[1].images3[0].url }}' ); background-size: cover;" {% endif %}
{% if craft.request.lastSegment == 'contact' %} class=" img-responsive " style="background-image: url('{{ heroImages[2].images3[0].url }}' ); background-size: cover;"  {% endif %}
{% if craft.request.lastSegment == 'final-details' %} class=" img-responsive final-details" style="background-image: url('{{ heroImages[3].images3[0].url }}' ); background-size: cover;" {% endif %}
{% if craft.request.lastSegment == 'thanks' %} class=" img-responsive thanks" {% endif %}
{% if craft.request.lastSegment == 'thankyou' %} class=" img-responsive thankyou" {% endif %}
>
 {% endcache %}  

<!-- <header id="header"> -->
    <nav class="navbar navbar-default small" role="navigation">
      <div class="container-fluid container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"></a>
        </div>


        <div class="collapse navbar-collapse" id="nav-collapse">
           <ul class="nav nav-pills nav-justified small-nav-blue ">
            <li {% if craft.request.getLastSegment() =='' %} class="active" {% endif %} > 
              <a href="/">Home </a></li>
            <li  {% if craft.request.getLastSegment() =='about' %} class="active" {% endif %}>
              <a href="/about">About</a></li>
             <!-- <li><a href="/gallery">Gallery</a></li> -->
            <li {% if craft.request.getLastSegment() =='application' %} class="active" {% endif %}>
              <a href="/application">Application</a></li>
            <li {% if craft.request.getLastSegment() =='contact' %} class="active" {% endif %} >
              <a href="/contact">Contact/FAQs</a></li>
                {% if currentUser == 'inquiries@darretreat.com' %}
           <li {% if craft.request.getLastSegment() =='inquiries' %} class="active" {% endif %} >
              <a href="/inquiries">Inquiries</a></li>
            {% else %}
             <li {% if craft.request.getLastSegment() =='final-details' %} class="active" {% endif %} >
              <a href="/final-details">Final&nbsp;Details</a></li>
            {% endif %}
          </ul>

        </div>

        <div class="hidden-sm hidden-xs" id="nav-main">
          <ul class="nav nav-pills nav-justified {% if (craft.request.getLastSegment() == 'thankyou') or (craft.request.getLastSegment() == 'inquiries') or (craft.request.getLastSegment() == 'thanks')  %} blue-nav {% endif %}">
            <li style="color:white; position: relative; top: -4px;">___________________</li>
            <li {% if craft.request.getLastSegment() == '' %} class="active" {% endif %}><a href="/">HOME</a></li>
            <li {% if craft.request.getLastSegment() =='about' %} class="active" {% endif %}><a href="/about">ABOUT</a></li>
             <!-- <li{% if craft.request.getLastSegment() =='gallery' %} class="active" {% endif %}><a href="/gallery">Gallery</a></li> -->
            <li{% if craft.request.getLastSegment() =='application' %} class="active" {% endif %} ><a href="/application">APPLICATION</a></li>
            <li{% if craft.request.getLastSegment() =='contact' %} class="active" {% endif %} ><a href="/contact">CONTACT/FAQs</a></li>
            {% if currentUser == 'meghann@familiar-studio.com' %}
             <li{% if craft.request.getLastSegment() =='inquiries' %} class="active" {% endif %} ><a href="/inquiries">INQUIRIES</a></li>
            {% else %}
            <li{% if craft.request.getLastSegment() =='final-details' %} class="active" {% endif %} ><a href="/final-details">FINAL&nbsp;DETAILS</a></li>
            {% endif %}
              <li style="color:white; position: relative; top: -4px; left: 30px;">___________________</li>
            
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1 ">

        {% if craft.request.getLastSegment() == 'thankyou'  %}

          <img class=" img-responsive" src="../images/thankyouFeather@2x.png" alt="">

          

          {% elseif  craft.request.getLastSegment() == 'thanks' %}
          {% set clip = {
              mode: 'crop',
              width: 1000,
              height: 280,
              quality: 75,
              position: 'top-center'
          } %}
          <img class="img-responsive" src="{{ heroImages[4].images3[0].getUrl(clip)}}">
          <div class="row">
            <div class="col-md-6">
              <img class=" img-responsive" src="../images/thankyouFeather@2x.png" alt="">
            </div>
            <div class="col-md-6 thankyou-form">
              {% set finalDetails = craft.entries.section('finalDetails').first() %}
              <h3>Thank you for your filling out the Final Details form!</h3>
              <p>{{ finalDetails.thankyouForm}}</p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                      <input type="hidden" name="cmd" value="_s-xclick">
                      <input type="hidden" name="hosted_button_id" value="CZ5NTZCUVB4R8">
                      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
             </form>
            </div>
          </div>
          

          {% else %}
          <img class=" feather img-responsive" src="/images/feather-logo.png">
         {% endif %}
               
            
     </div>
    </div>
    </div>
     
</div>
<!-- </header> -->



   <!-- <div class="navbar navbad-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="/">Dar Willimas</a>
        </div>
        <div class="collapse navbar-collapse" id="nav-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
             <li><a href="/gallery">Gallery</a></li>
            <li><a href="/application">Application</a></li>
            <li><a href="/contact">Contact/Questions</a></li>
            <li><a href="/final-details">Final Details</a></li>
          </ul>
        </div><!/.nav-collapse -->
    <!--   </div>
    </div> -->

   

    <div class="container">

      {% block content %}
      {% endblock %}

    </div><!-- /.container -->

 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    


  </body>
</html>
