{% extends '_layout' %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Kreon' rel='stylesheet' type='text/css'>
<style>
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left:0px !important;
  padding-right:0px !important;
}
</style>


{% cache %}   
<div class="about-content">
  

<div class="row" style="margin-top: 11px;">
  <div class="col-md-9">
    <div class="about-first-block">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
             <h3>{{ entry.aboutHeader }}</h3>
              <p>{{ entry.body }}</p>
        </div>
      </div>
   
    </div>
  </div>
  <div class="col-md-3">
    <img style="height: 324px;" class="img-responsive" src="{{ entry.darPhoto[0].url }}" alt="">
  </div>
</div>
<div class="row">
  <img style="margin-bottom:6px;" class="img-responsive" src="{{entry.quoteBlock[0].url }}" alt="">
</div>

<div class="row">
  <div class="col-md-3">
    <img style="padding-right: 3px; " class="img-responsive" src=" {{ entry.aboutPhoto1[0].url }}" alt="">
  </div>
  <div class="col-md-3">
    <img style="padding-right:3px; padding-left:3px; height: 231px;" class="img-responsive" src=" {{ entry.aboutPhoto2[0].url  }}" alt="">
  </div>
  <div class="col-md-6">
    <img style="padding-left: 3px;" class="img-responsive" src=" {{ entry.quoteSmall[0].url }}" alt="">
  </div>
</div>

<!-- sub number 1 -->
<div style="margin-top:6px;">
<h3 style="margin-left: 60px">{{entry.aboutTeamHeader }}</h3>
  <div class="row">
    <div class="col-md-9">
      <div class="about-sub-block">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <h3>{{ entry.subHeader1 }}</h3>
        <h3>Michele Gedney, Song Whisperer</h3>
        <p style="margin-top:30px">{{ entry.subBody1}}</p>
      </div>
    </div>
    </div>
  </div>

    <div class="col-md-3">
      <img class="img-responsive" src="{{ entry.subPhoto1[0].url }}" alt="">
    </div>
  </div>
</div>

<!-- sub number 2 -->
<div>
  <div class="row">
    <div class="col-md-9">
     <div class="about-sub-block">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <h3>{{ entry.subHeader2 }}</h3>
        <p style="margin-top:30px">{{ entry.subBody2}}</p>
      </div>
    </div>
  </div>
    </div>

    <div class="col-md-3">
      <img class="img-responsive" src="{{ entry.subPhoto2[0].url }}" alt="">
    </div>
  </div>
</div>

<!-- sub number 3 -->
{% if entry.subPhoto4 | length %}
<div>
  <div class="row">
    <div class="col-md-9">
     <div class="about-sub-block">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <h3>{{ entry.subHeader3 }}</h3>
        <p style="margin-top:30px">{{ entry.subBody3}}</p>
      </div>
    </div>
  </div>
    </div>

    <div class="col-md-3">
      <img class="img-responsive" src="{{ entry.subPhoto3[0].url }}" alt="">
    </div>
  </div>
</div>
{% endif %}

<!-- sub number 4 -->
{% if entry.subPhoto4 | length %}
<div>
  <div class="row">
    <div class="col-md-9">
     <div class="about-sub-block">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <h3>{{ entry.subHeader4 }}</h3>
        <p style="margin-top:30px">{{ entry.subBody4}}</p>
      </div>
    </div>
  </div>
    </div>

    <div class="col-md-3">
      <img class="img-responsive" src="{{ entry.subPhoto4[0].url }}" alt="">
    </div>
  </div>
</div>
{% endif %}



</div> <!--  end about content -->
{% endcache %}
{% endblock %}