{% extends '_layout' %}

{% block content %}

 {% set entry = craft.entries.section('inquiries').first() %}
{% set fields = entry.getType().getFieldLayout().getFields() %}

<form method="post" action="" enctype="multipart/form-data" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="guestEntries/saveEntry">
    <input type="hidden" name="redirect" value="thankyou">
    <input type="hidden" name="sectionId" value="3">

                <div class="form-group">
                    <label for="title">Your Name</label>
                    <input type="title" class="form-control"  name="title" id="title" required >
                </div>

                <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control"  name="fields[email]" id="email" required >
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="phone" class="form-control"  name="fields[phone]" id="phone" required >
                    </div>

    
                    <div class="form-group">
                        <label for="body">Statement</label>
                        <textarea class="form-control"  name="fields[body]" id="body"></textarea>
                    </div>

                     <div class="form-group">
                    <label for="image">Images (.png)</label>
                    <div class="file-upload btn btn-warning">
                        <span>Image</span>
                        <input type="file" id="image" name="fields[image]" class="upload" >
                    </div>
                    </div>

                   <!-- some help below -->
<!-- http://buildwithcraft.com/docs/assets-fields#uploading-files-from-front-end-entry-forms -->

<!-- remember to add "are you applying again?" -->
<!-- maybe we can check logic to see if they already have a user id? -->


    <input type="submit" class="btn btn-warning" value="Publish">
</form>


{% endblock %}