{% extends '_layout' %}

{% block content %}


</div> 
<!-- end container -->
<div class="register-splash">
  <div class="container">
    
<div class="page-header ">
  <h4>
    APPLICATION

  </h4>
  <p >{{entry.body}}</p>
</div>
 {% set entry = craft.entries.section('inquiries').status('enabled').first() %}
{% set fields = entry.getType().getFieldLayout().getFields() %}

{% set thisYear= now|date('Y') %}


<form method="post" action="" enctype="multipart/form-data" accept-charset="UTF-8">
    {{ getCsrfInput() }}

    <div class="row">
        <div class="col-md-6">
             <input type="hidden" name="action" value="guestEntries/saveEntry">
            <input type="hidden" name="redirect" value="thankyou">
            <input type="hidden" name="sectionId" value="3">
     
{% set dropdown = craft.entries.section('inquiries').find() %}
                 <div class="form-group">
                        <label for="date">Session Date</label>
                      
                            <select name="fields[sessionDate]" id="">
                                 {% for thing in dropdown[0].sessionDate.options %}

                                <option name="fields[sessionDate]" value="{{thing}}">{{ thing.label }}</option>
                                  {% endfor %}
                            </select>
                     
                    </div>

                    
                    


                <div class="form-group">
                    <label for="title">Your Name</label>
                    <input type="title" class="form-control"  name="title" id="title" required >
                </div>

                <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control"  name="fields[email]" id="email" required >
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="phone" class="form-control"  name="fields[phone]" id="phone" required >
                    </div>

                      <div class="form-group">
                      <label for="audio">Audio File</label>
                        <div class=" img-responsive file-upload btn btn-primary">
                            <span>Upload an mp3 file</span>
                            <input type="file" id="audio" name="fields[audio]" class="upload" >
                        </div>
                        </div>

                         <div class="form-group">
                        <label for="file">Lyrics File</label>
                        <div class="file-upload btn btn-primary">
                            <span>Upload a word doc or a pdf</span>
                            <input type="file" id="file" name="fields[lyrics]" class="upload" >
                        </div>
                      </div>
                    
                    
        </div>
        <div class="col-md-6">
            <div class="form-group">
                        <label for="return">Have you been to this retreat before?</label>
                      
                            <select name="fields[returningToRetreat]" id="">
                                 {% for thing in dropdown[0].returningToRetreat.options %}

                                <option name="fields[returningToRetreat]" value="{{thing}}">{{ thing.label }}</option>
                                  {% endfor %}
                            </select>
                     
                    </div>

         

              <!-- <p > </p> -->
               <div class="form-group">
                  <label class="statement" for="body">Please talk to us about your experience writing songs and why you'd like to attend this songwriting week. </label>
                  <textarea style="height:300px" class="form-control"  name="fields[body]" id="body"></textarea>
                </div>

                    <div>
                       <!-- add returing guest question here? -->
                    </div>

                    
                     <input type="submit" class="btn btn-primary pull-right" value="Submit">
        </div>
    </div>
   
    
                 

                   <!-- some help below -->
<!-- http://buildwithcraft.com/docs/assets-fields#uploading-files-from-front-end-entry-forms -->

<!-- remember to add "are you applying again?" -->
<!-- maybe we can check logic to see if they already have a user id? -->


   
</form>
  </div>
</div>



{% endblock %}