{% extends '_layout' %}

{% block content %}

</div> 
<!-- end container -->
<div class="register-splash">

<div class="container">
    <div style="margin-top:20px;" class="pull-right">
        <a target="_blank"  href=" https://www.facebook.com/groups/839695362732001/"><img style="width:30px;" src="../images/facebook29.png"></a>
      <a target="_blank"  href=" https://twitter.com/darwilliamstour/status/450467921589186560"><img style="width:30px;" src="../images/twitter14.png"></a>
      </div> 


{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<div class="contact-content">


<div class="row">
    <div class="col-md-6">
      <div class="page-header">
   
        <h3>CONTACT</h3>
        <p><small>Still have questions/concerns? Send us an email!</small></p>
        </div>
        <form method="post" action="" accept-charset="UTF-8">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="contactForm/sendMessage">
            <input type="hidden" name="redirect" value="contact/thanks">

             <div class="form-group">
                <label for="fromName">Name</label>
                <input class="form-control" id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
                {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
            </div>
            
            

           <div class="form-group">
                <label for="fromEmail">Email</label>
            <input class="form-control" id="fromEmail" type="text" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
            {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
           </div>
          
           <div class="form-group">
                <label for="subject">Subject</label>
            <input class="form-control" id="subject" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
            {{ message is defined and message ? errorList(message.getErrors('subject')) }}
           </div>

           <!--   <div class="form-group">
              <label for="phone">Phone Number</label>
            <input class="form-control" id="phone" type="text" name="message[Phone]" value=""> 
           </div> -->
          
           <div class="form-group">
                <label for="message">Message</label>
            <textarea class="form-control" rows="10" cols="20" id="message" name="message[body]">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
           </div>
         
         
           


                <input type="submit" class="btn btn-primary pull-right" value="Send">
        </form>
    </div>

    <div class="col-md-6">
    <div class="page-header">

        <h3>FAQs</h3>
    </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   Do I need to play guitar or play guitar well to join? Are piano players or other instrumentalists welcome?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                All instruments are welcome. We've had percussionists, xylophone players, keyboard players, and vocalists, too.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  I'm nervous and have only played one open mic! How important is performance to this retreat?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Some people sit out for a couple of days and some never perform a song.  We aim to create an environment where there is at least one person with whom you feel comfortable sharing your work!
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  What kind of songwriting supplies should we bring?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                We recommend a notebook for lyrics, a notebook for writing other thoughts (it can be the same notebook if you want), your lucky pen, and a simple recording device for ideas such as a cell phone, iPad or laptop.  If you have an instrument that you can't bring, let us know.  We can track something down for you.
              </div>
            </div>
          </div>
          
            <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                 Is there internet access?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                Yes.
              </div>
            </div>
          </div>
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                 Will Dar actually hear my song? Will we see her individually or as a group?
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
               Dar will be around throughout the day. She will have a short one on one with every person individually and will run the afternoon clinics where everyone will have an opportunity to share a song with the group.
              </div>
            </div>
          </div>
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Should I expect (am I expected) to write a song by the end of the retreat?
                </a>
              </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                This is a retreat, not a boot camp!  When something matters to us, we reveal it in our own time. The challenge is to find the words we want to say or the practice that feels like the right fit. For some, a deadline and a little pressure is helpful, but Dar is quick to point out that at least one of her songs took three years to write.
              </div>
            </div>
          </div>
                <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                 Is there a store nearby?
                </a>
              </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                The closest strip of stores (drugstore, grocery, bank, liquor store and post office) is about 5 miles away and we can make a run for you if you don't have a car.   
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


</div>

</div>

<div  style="margin-top:20px; border-top:4px solid white;">
  <div class="container">
    <div class="row">
  {% for image in entry.photo %}
  <div class="col-md-4">
    <img style="margin-top: 20px; padding:0px;" class="img-responsive" src="{{image.url}}">
  </div>
  {% endfor %}
</div>
  </div>

</div>

</div>

{% endblock %}