{% extends '_layout' %}

{% block content %}

{% if currentUser == 'meghann@familiar-studio.com' %}
{% redirect 'inquiries' %}
{% endif %}

{% if not currentUser %}

<h1 class="text-center">This Page Coming Soon!</h1>
<!--  <div  class="text-center">
   <form method="post" action="" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/login">
    <input type="hidden" id="loginName"  name="loginName"
        value="stormkingretreat@gmail.com">

  
        
     
    <h3><label for="password">Password</label></h3>
    <input id="password" type="password" name="password"></br>

    <label>
        <input type="checkbox" name="rememberMe" value="1">
        Remember me
    </label></br>

    <input type="submit" value="Login">

    {% if errorMessage is defined %}
        <p>{{ errorMessage }}</p>
    {% endif %}
</form>
</div> -->
{% endif %}

{% if currentUser %}
<h1 class="text-center">This Page Coming Soon!</h1>
<a href="{{ logoutUrl }}">Logout</a>
 <!--  <a href="{{ logoutUrl }}">Logout</a>
<div class="page-header">
  <h1>
    Final Details
  </h1>
</div>
 {% set entry = craft.entries.section('retreatMembers').first() %}
{% set fields = entry.getType().getFieldLayout().getFields() %}

{% set thisYear= now|date('Y') %}


<form method="post" action="" enctype="multipart/form-data" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="guestEntries/saveEntry">
    <input type="hidden" name="redirect" value="thankyou">
    <input type="hidden" name="sectionId" value="4">
     <input type="hidden" name="fields[status]" value="live">
     <div class="row">
         <div class="col-md-6">
             <div class="page-header">
                 <h4>General Information</h4> 
             </div>
        
              <div class="form-group">
                    <label for="title">Your Name</label>
                    <input type="text" class="form-control"  name="title" id="title" required >
                </div>

               


                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control"  name="fields[email]" id="email" required >
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="phone" class="form-control"  name="fields[phone]" id="phone" required >
                    </div>

                      <div class="form-group">
                        <label for="Ephone">Emergency Phone</label>
                        <input type="phone" class="form-control"  name="fields[emergencyPhone]" id="Ephone" required >
                    </div>
                    
                    <div class="form-group">
                    <label for="street">Street Address 1</label>
                    <input type="text" class="form-control"  name="fields[streetAddress1]" id="street" required >
                </div>

                <div class="form-group">
                    <label for="street2">Street Address 2</label>
                    <input type="text" class="form-control"  name="fields[streetAddress2]" id="street2" required >
                </div>

                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control"  name="fields[city]" id="city" required >
                </div>

                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control"  name="fields[state]" id="state" required >
                </div>

                 <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control"  name="fields[state]" id="state" required >
                </div>
         </div>
         <div class="col-md-6">
           <div class="page-header">
                <h4>Personal Information</h4> 
            </div>

             {% set dropdown = craft.entries.section('retreatMembers').find() %}
                     <div class="form-group">
                        <label for="phone">Session Date</label>
                      
                            <select name="" id="">
                                 {% for thing in dropdown[0].sessionDate.options %}

                                <option name="fields[sessionDate]" value="{{thing}}">{{ thing.label }}</option>
                                  {% endfor %}
                            </select>
                     
                    </div>

                     {% set dropdown = craft.entries.section('retreatMembers').find() %}
                     <div class="form-group">
                        <label for="phone">Payment Method</label>
                      
                            <select name="" id="">
                                 {% for thing in dropdown[0].paymentMethod.options %}

                                <option name="fields[paymentMethod]" value="{{thing}}">{{ thing.label }}</option>
                                  {% endfor %}
                            </select>
                     
                    </div>



                      <div class="form-group">
                        <label for="image">Images (.png)</label>
                        <div class="file-upload btn btn-warning">
                            <span>Image</span>
                            <input type="file" id="image" name="fields[image]" class="upload" >
                        </div>
                    </div>  




                <div class="form-group">
                    <label for="travel">Travel Info</label>
                    <input type="text" class="form-control"  name="fields[travelHotelInformation]" id="travel" required >
                </div>

                  <div class="form-group">
                    <label for="foodAll">Food Allergies</label>
                    <input type="text" class="form-control"  name="fields[foodAllergies]" id="foodAll" required >
                </div>

                  <div class="form-group">
                    <label for="travelHotelInformation">Travel Hotel Information</label>
                    <input type="text" class="form-control"  name="fields[travelHotelInformation]" id="travelHotelInformation" required >
                </div>

                  <div class="form-group">
                    <label for="meds">Medical Conditions</label>
                    <input type="text" class="form-control"  name="fields[medicalConditions]" id="meds" required >
                </div>

                  <div class="form-group">
                    <label for="doubleRoom">Double Room</label>
                    <input type="text" class="form-control"  name="fields[doubleRoom]" id="doubleRoom" required >
                </div>

                  <div class="form-group">
                    <label for="instrument">Instrument</label>
                    <input type="text" class="form-control"  name="fields[instrument]" id="instrument" required >
                </div>

                  <div class="form-group">
                    <label for="medications">Medications</label>
                    <input type="text" class="form-control"  name="fields[medications]" id="medications" required >
                </div>

                  <div class="form-group">
                    <label for="doubleRoom">Double Room</label>
                    <input type="text" class="form-control"  name="fields[doubleRoom]" id="doubleRoom" required >
                </div>

                
                <div class="form-group">
                    <label for="questionsConcerns">Questions Concerns</label>
                    <input type="text" class="form-control"  name="fields[questionsConcerns]" id="questionsConcerns" required >
                </div>

         </div>
     </div>
              -->  

                

<!-- remember to add "are you applying again?"
<!-- maybe we can check logic to see if they already have a user id? -->


 <!--    <input type="submit" class="btn btn-warning" value="Publish">
</form> -->

{% endif %}

{% endblock %}