{% extends '_layout' %}

{% block content %}

{% if currentUser == 'inquiries@darretreat.com' %}
{% redirect 'inquiries' %}
{% endif %}

{% if not currentUser %}

<!-- <h1 class="text-center">This Page Coming Soon!</h1> -->

  <div class="row">
    <div class="col-md-8" style="padding-right: 6px;">
       <div  class="login-time">

 
 <h3>Login</h3>

       <form class="form-inline" method="post" action="" accept-charset="UTF-8">
          {{ getCsrfInput() }}
          <input type="hidden" name="action" value="users/login">
          <input type="hidden" id="loginName"  name="loginName"
              value="stormkingretreat@gmail.com">

        
              
           <div class="form-group">
         
          <input id="password" type="password" placeholder="password" name="password"></br>
          </div>
          <!-- <label>
              <input type="checkbox" name="rememberMe" value="1">
              Remember me
          </label></br> -->
        
          <input style="border-radius:0px;" class="submit btn btn-primary" type="submit" value="Submit">
     
          {% if errorMessage is defined %}
              <p>Opps! This is not the right Password!</p>
              <p>You should have recieved the password in your confirmation email!</p>
          {% endif %}
      </form>
    </div>

 </div>
    <div class="col-md-4" style="padding-left: 0px;">
      {% if entry.photo|length %}
      <img class="img-responsive" src="{{ entry.photo[0].url }}" alt="">
      {% endif %}
    </div>
 
  
</div>
{% endif %}

{% if currentUser %}
{% set pageEntry = craft.entries.section('finalDetails').first() %}
<!-- <h1 class="text-center">This Page Coming Soon!</h1> -->
<!-- <a href="{{ logoutUrl }}">Logout</a> -->
<div class="final-details-content">
  


<div class="page-header">
    <div class="pull-right">
       <a class=" btn btn-outline" style="margin-right:20px;" href="/thanks">Skip To Payment</a>
    <a class="" href="{{ logoutUrl }}">Logout</a>
    </div>
   
  <h4>
    FINAL DETAILS
  </h4>

</div>
 {% set entry = craft.entries.section('retreatMembers').first() %}
{% set fields = entry.getType().getFieldLayout().getFields() %}

{% set thisYear= now|date('Y') %}

{% if pageEntry.announcementOnOff %}
<div class="alert alert-success" role="alert">{{ pageEntry.topOfPageAnnouncement}}


</div>
{% endif %}

<form method="post" action="" enctype="multipart/form-data" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="guestEntries/saveEntry">
    <input type="hidden" name="redirect" value="thanks">
    <input type="hidden" name="sectionId" value="4">
     <input type="hidden" name="fields[status]" value="live">
     <div class="row">
         <div class="col-md-6">
           
             <div class="page-header">
                 <legend class="text-center"> General Information</legend> 
             </div>
        
              <div class="form-group">
                    <label for="title">Your Name</label>
                    <input type="text" class="form-control"  name="title" id="title" required >
                </div>

               


                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control"  name="fields[email]" id="email" required >
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="phone" class="form-control"  name="fields[phone]" id="phone" required >
                    </div>

                      <div class="form-group">
                        <label for="Ephone">Emergency Phone</label>
                        <input type="phone" class="form-control"  name="fields[emergencyPhone]" id="Ephone" required >
                    </div>
                    <legend class="text-center">Address</legend>
                    <div class="form-group">
                    <label for="street">Street Address 1</label>
                    <input type="text" class="form-control"  name="fields[streetAddress1]" id="street" required >
                </div>

                <div class="form-group">
                    <label for="street2">Street Address 2</label>
                    <input type="text" class="form-control"  name="fields[streetAddress2]" id="street2"  >
                </div>

                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control"  name="fields[city]" id="city" required >
                </div>

                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control"  name="fields[state]" id="state"  >
                </div>

                 <div class="form-group">
                    <label for="postalCode">Zip</label>
                    <input type="text" class="form-control"  name="fields[postalCode]" id="postalCode"  >
                </div>


         </div>
         <div class="col-md-6">

          <div class="page-header">
                <legend class="text-center">Retreat Information</legend> 
            </div>

             {% set dropdown = craft.entries.section('retreatMembers').find() %}
                     <div class="form-group">
                        <label for="date">Session Date</label>
                      
                            <select name="fields[sessionDate]" id="">


                                <option name="fields[sessionDate]" value="{{firstSessionDate.date}}">{{ firstSessionDate.date }}</option>
                                <option name="fields[sessionDate]" value="{{secondSessionDate.date}}">{{ secondSessionDate.date }}</option>

                            </select>
                     
                    </div>

                     {% set dropdown = craft.entries.section('retreatMembers').find() %}
                     <div class="form-group">
                        <label for="phone">Payment Method</label>
                      
                            <select name="fields[paymentMethod]" id="">
                                 {% for thing in dropdown[0].paymentMethod.options %}

                                <option name="fields[paymentMethod]" value="{{thing}}">{{ thing.label }}</option>
                                  {% endfor %}
                            </select>

                     <p>{{ pageEntry.paymentField1 }}</p>
                    </div>





                      <div class="form-group">
                        <label for="image">Images (.jpg, .png)</label>
                        <div class="file-upload btn btn-default">
                            <span>Image</span>
                            <input type="file" id="image" name="fields[image]" class="upload" >
                        </div>
                    </div>  
          


                   <div class="page-header">
                      <legend class="text-center">Personal Information</legend> 
                  </div>

                   <div class="form-group">
                    <label for="foodAll">Do you have any food allergies or sensitivities?</label>
                    <input type="text" class="form-control"  name="fields[foodAllergies]" id="foodAll" required >
                </div>

                  <div class="form-group">
                    <label for="meds">Do you have any medical condition(s) we should be aware of?</label>
                    <input type="text" class="form-control"  name="fields[medicalConditions]" id="meds" required >
                </div>

                 <div class="form-group">
                    <label for="medications">Are you currently taking any medications? If so, do they need refrigerated storage? Please list and describe medications we should be aware of.</label>
                    <input type="text" class="form-control"  name="fields[medications]" id="medications" required >
                </div>

                 <div class="form-group">
                    <label for="doubleRoom">Everyone will be given a single room unless otherwise specified. If a double is needed, please provide name of retreater roommate here.</label>
                    <input type="text" class="form-control"  name="fields[doubleRoom]" id="doubleRoom" required >
                </div>

                <div class="form-group">
                    <label for="travel">How will you be traveling to us? Please let us know if you require any travel/hotel information or assistance.</label>
                    <input type="text" class="form-control"  name="fields[travelHotelInformation]" id="travel" required >
                </div>

                <div class="form-group">
                    <label for="instrument">Will you be bringing a guitar or other instrument to work out song ideas? Please let us know if you are having any problems bringing one so we can help you.</label>
                    <input type="text" class="form-control"  name="fields[instrument]" id="instrument" required >
                </div>

              

                
                <div class="form-group">
                    <label for="questionsConcerns">Please let us know of any other questions/concerns so we can ensure you have the most positive retreat experience possible.</label>
                    <input type="text" class="form-control"  name="fields[questionsConcerns]" id="questionsConcerns" required >
                </div>
  <input type="submit" class="btn btn-lg btn-outline pull-right " value="Submit">
         </div>
     </div>

  
</form>
</div>
{% endif %}

{% endblock %}