{% extends '_layout' %}


{% block content %}

<!-- <div >
<div class="text-center intro">
	 <h1>A Song Writing Retreat</h1>
  <h2>with Dar Willimas</h2>
</div>
 

</div>
</div> -->
<!-- end contaitner -->

{% set wide = {
			    mode: 'crop',
			    width: 500,
			    height: 240,
			    quality: 75,
			    position: 'bottom-center'
			} %}

<div class="row">
  <div class="col-md-8">
    <div class="home-first-block">
        <h2>{{ entry.firstBlock[0].headline }}</h2>
        <h3>{{entry.firstBlock[0].date1}}</h3>
        <h3>{{entry.firstBlock[0].date2}}</h3>
        <h4>{{ entry.firstBlock[0].location }}</h4>
        <h5>{{ entry.firstBlock[0].bulletsIntro }}</h5>
        <div class="row">
          <div class="col-xs-6">
            <ul>
            {% for bullet in entry.firstBlock[0].bulletPoints1  %}
            <li>{{bullet.point}}</li> 
            {% endfor %}
             </ul>
          </div>
          <div class="col-xs-6">
              <ul>
            {% for bullet in entry.firstBlock[0].bulletpoints2  %}
            <li>{{bullet.points}}</li> 
            {% endfor %}
             </ul>
          </div>
        </div>
        <p>{{ entry.firstBlock[0].body }}</p>
       

    </div>
  
  </div>
  <div class="col-md-4">
    <div class=" col-md-12 col-sm-6 col-xs-12 ">
      <!-- <img src="{{ entry.firstBlock[0].photo1[0].url }}" > -->
      <div class="image-1">
        <img class="img-responsive" src="{{ entry.firstBlock[0].photo1[0].url}}">
      </div>
      
    </div>
    <div class="col-md-12 col-sm-6  quote-block-blue">
     
        <img class="img-responsive" src="{{ entry.firstBlock[0].quote[0].url }}">
       

     
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-xs-12">
  <img class="img-responsive " src="{{ entry.firstBlock[0].photo2[0].getUrl(wide)}}">
   
  </div>
   <div class="col-md-3 col-xs-12">
  <img class="img-responsive " src="{{ entry.firstBlock[0].photo3[0].url}}">
  </div>
   <div class="col-md-4 col-xs-12">
   <img class="img-responsive " src="{{ entry.firstBlock[0].photo4[0].url}}">
  </div>
</div>

<div class="row">

  <div class="col-md-10 col-xs-12">
    <div class="note-block">
      {{entry.secondBlock[0].body}}
    </div>
      <div class="note-block">
      <h2>{{entry.secondBlock[0].pricing}}</h2>
      <h4>{{entry.secondBlock[0].registrationInfo}}</h4>

      <h4>{{entry.secondBlock[0].firstRetreatTitle}}</h4>
      <p>{{entry.secondBlock[0].firstRetreat}}</p>

       <h4>{{entry.secondBlock[0].secondRetreatTitle}}</h4>
      <p>{{entry.secondBlock[0].secondRetreat}}</p>

       <h2>{{entry.secondBlock[0].lodgingTitle}}</h2>
       <p>{{entry.secondBlock[0].lodging}}</p>

       <h2>{{entry.secondBlock[0].registrationTitle}}</h2>
       <p>{{entry.secondBlock[0].regInfo}}</p>

    </div>
  </div>
  <div class="col-md-2 col-xs-12">
     <img class="img-responsive pattern" src="{{entry.secondBlock[0].quote[0].url}}" alt="">
       <img class="img-responsive pattern" src="{{entry.secondBlock[0].pattern[0].url}}" alt="">
        <img class="img-responsive " src="{{entry.secondBlock[0].photo1[0].url}}" alt="">
         <img class="img-responsive " src="{{entry.secondBlock[0].photo2[0].url}}" alt="">
  </div>
</div>


{% endblock %}
