{% extends '_layout' %}


{% block content %}
<style>
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left:0px !important;
  padding-right:0px !important;
}
</style>
<!-- <div >
<div class="text-center intro">
	 <h1>A Song Writing Retreat</h1>
  <h2>with Dar Willimas</h2>
</div>
 

</div>
</div> -->
<!-- end contaitner -->

{% set wide = {
			    mode: 'crop',
			    width: 500,
			    height: 260,
			    quality: 75,
			    position: 'bottom-center'
			} %}

<div class="row">
  <div class="col-md-8">
    <div class="home-first-block">
      <div class=" home-gutter">
        
 <div class="pull-right">
  <a target="_blank"  href=" https://www.facebook.com/groups/839695362732001/"><img style="width:30px;" src="../images/facebook29.png"></a>
<!-- <a target="_blank"  href=" https://twitter.com/darwilliamstour/status/450467921589186560"><img style="width:30px;" src="../images/twitter14.png"></a> -->
</div>



        <h2>{{ entry.headline }}</h2>
        <h3>{{ firstSessionDate.date | upper }}, 2016 </h3>
        <h3>{{ secondSessionDate.date | upper}}, 2016</h3>
        <h4>{{ entry.location }}</h4>
        <h5>{{ entry.bulletsIntro }}</h5>
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <ul class="blue-bullets">
            {% if entry.bulletPoints1 %}
              {% for bullet in entry.bulletPoints1  %}

              <li><span>{{bullet.col1}}</span></li> 
              {% endfor %}
            {% endif %}
             </ul>
          </div>
          <div class="col-md-8 col-xs-12">
              <ul class="blue-bullets">
            {% for bullet in entry.bulletPoints2  %}
            <li><span>{{bullet.col1}}</span></li> 
            {% endfor %}
             </ul>
          </div>
        </div>

        
        <p>{{ entry.body }}</p>
       

    </div>
     </div>
  </div>
  <div class="col-md-4">
    <div class=" col-md-12 col-sm-6 col-xs-12 ">
      <!-- <img src="{{ entry.photo1[0].url }}" > -->
      <div class="image-1">
        <img  class="img-responsive mobile-photo" src="{{ entry.photo1[0].url}}">
      </div>
      
    </div>
    <div class="col-md-12 col-sm-6  quote-block-blue">
     
        <img class="img-responsive" src="{{ entry.quote[0].url }}">
       

     
    </div>
  </div>
</div>

{% set height = {
          mode: 'crop',
          width: 390,
          height: 254,
          quality: 75,
          position: 'bottom-center'
      } %}

<div class="row">

  <div class="col-md-5 col-xs-12">
     
    <img style="padding-right: 3px;" class="img-responsive gutter mobile-photo test" src="{{ entry.photo2[0].getUrl(wide)}}">
     
    </div>
     <div class="col-md-3 col-xs-12">
    <img style="padding-right:10px; padding-left:3px; height:254px;" class="img-responsive gutter mobile-photo" src="{{ entry.photo3[0].getUrl()}}">
    </div>
     <div class="col-md-4 col-xs-12">
     <img class="img-responsive mobile-photo" src="{{ entry.photo4[0].getUrl(height)}}">

    </div>
  </div>

<div class="row" style="margin-top: 15px;">


  <div class="col-md-9 col-xs-12">

    <div class="note-block">
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <div class="note-content">
        
          <h4>{{entry.secondHeading}}</h4>
          {{entry.body2}}
        </div>
        </div>
      </div>
    
    </div>
      <div class="note-block" style="min-height: 869px;">
         <div class="row">
        <div class="col-md-9 col-md-offset-1">
      <h4>{{entry.pricing}}</h4>
      <h5 >Early bird registration: $1500 <span class="green">/</span> Regular registration: $1700</h5>

      <h5 class="sessions">FIRST RETREAT <span class="green">/</span> {{ firstSessionDate.date |upper }}</h5>
      <p>{{entry.firstRetreat}}</p>

       <h5 class="sessions">SECOND RETREAT <span class="green">/</span> {{ secondSessionDate.date | upper }}</h5>
      <p>{{entry.secondRetreat}}</p>

       <h5 class="sessions">{{entry.lodgingTitle}}</h5>
       <p>{{entry.lodging}}</p>

       <h5 class="sessions">{{entry.registrationTitle}}</h5>
       <p>{{entry.regInfo}}</p>
  </div>
</div>
    </div>
   
  </div>
  <div class="col-md-3 col-xs-12">
   
   

       
        <img class="img-responsive " src="{{entry.photo5[0].url}}" alt="">
         <img style="margin-top:10px" class="img-responsive " src="{{entry.photo6[0].url}}" alt="">
        <img style="margin-top:6px;" class="img-responsive pattern" src="{{entry.quoteHome[0].url}}" alt="">
        {% if entry.pattern |length %}
           <img  class="img-responsive pattern" src="{{entry.pattern[0].url}}" alt="">
        {% endif %}
         
  </div>
</div>

<script src="js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
{% endblock %}
