{% extends '_layout' %}

{% block content %}

{% if not currentUser %}
    <div  class="text-center">
   <form method="post" action="" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/login">

    <!-- <h3><label for="loginName">Username or email</label></h3> -->
    <input type="hidden" id="loginName"  name="loginName"
        value="stormkingretreat@gmail.com">

  
        
     
    <h3><label for="password">Password</label></h3>
    <input id="password" type="password" name="password"></br>

    <label>
        <input type="checkbox" name="rememberMe" value="1">
        Remember me
    </label></br>

    <input type="submit" value="Login">

    {% if errorMessage is defined %}
        <p>{{ errorMessage }}</p>
    {% endif %}
</form>
</div>

{% endif %}

{% if currentUser %}
<div class="page-header">
  <h1>Applicants</h1>
</div>


{% set applicants = craft.entries.section('inquiries').status('*') %}

{% for a in  applicants %}
{% if a.title != 'DO NOT DELETE'%}
<h6>{{a.postDate | date("m/d/Y")}}</h6>
  <h2>{{a.title}}</h2>
  <h6>{{ a.email }} | {{a.phone}}</h6>
  <h4><small>Returning Member: </small>{{ a.returningToRetreat}}</h4>
  <h4><small>Session Date:</small> {{ a.sessionDate}}</h4>

   <h4><small>Statement:</small> </h4>
   <p>{{ a.body }}</p>

  {% for thing in a.audio %}
   <audio controls>
    <source src="{{thing.url}}" type="audio/ogg">
    <source src="{{thing.url}}" type="audio/mpeg">
       <source src="{{thing.url}}" type="audio/aiff">
  Your browser does not support the audio element.
  </audio>
  {% endfor %}
{% if a.lyrics|length %}
  <a target="_blank" href="{{ a.lyrics[0].url}}"><h6><span style="font-size: 20px" class="glyphicon glyphicon-download-alt"></span>Download {{a.title}}'s Lyrics</h6></a>
  {% endif %}
<hr>
{% endif %}
{% endfor %}
  


</div>

{% endif %}
{% endblock %}